@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 27, 28, 30;
  --background: 238, 237, 235;
  --primary: 179, 249, 231;
  --secondary: 217, 217, 217;
  --accent: 92, 92, 92;
  background-color: rgb(var(--background));
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: 245, 245, 245; /* Light text for dark background */
    --background: 27, 28, 30; /* Dark background */
    --primary: 6, 75, 58; /* Primary color for dark theme */
    --secondary: 38, 38, 38; /* Secondary color for dark theme */
    --accent: 163, 163, 163; /* Accent color for dark theme */
    background-color: rgb(var(--background));
  }
}
.light {
  --text: 27, 28, 30;
  --background: 238, 237, 235;
  --primary: 179, 249, 231;
  --secondary: 217, 217, 217;
  --accent: 92, 92, 92;
}
/* styles.css or tailwind.css */

.dark {
  --text: 238, 237, 235;
  --background: 27, 28, 30;
  --primary: 6, 75, 58;
  --secondary: 38, 38, 38;
  --accent: 163, 163, 163;
}

.fullheight {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.section {
  height: var(--section-height);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px; /* For vertical scrollbar */
  height: 6px; /* For horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 5px;
}
/* styles.css */
.no-blink-cursor {
  cursor: default;
}

@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .inset-shadow {
    box-shadow:
      inset 7px 7px 14px #020304,
      inset -7px -7px 14px #0a0b0e;
  }
  .font-title {
    font-size: max(32px, min(5vw, 76px));
  }
  .spinner {
    animation: spiner 4s linear alternate infinite 1.2s;
  }
  .gradient {
    background: radial-gradient(
      circle at center,
      var(--primary) 0,
      transparent 100%
    );
  }

  .project {
    @apply w-full flex items-center relative justify-around px-2 text-xl  text-accent select-none border h-20 rounded-lg border-dashed border-accent;
  }

  .center-align {
    left: calc(50% - 200px);
  }

  .right-align {
    left: calc(72% - 250px);
  }

  .glow-effect {
    box-shadow:
      0 0 5px primary,
      0 0 10px primary,
      0 0 20px primary;
  }

  .observe-show {
    transform: none;
    opacity: 1;
  }
  .pt-box-shadow {
    box-shadow:
      0 0 1px var(--accent),
      0 0 3px var(--accent),
      0 0 5px var(--accent);
  }
  .pt-box-shadow:hover {
    box-shadow:
      0 0 2px var(--accent),
      0 0 5px var(--accent),
      0 0 10px var(--accent);
  }
}
body {
  background: var(--background);
}

.chat-output {
  @apply flex flex-col gap-4;
}

.chat-output h3 {
  @apply text-lg font-bold;
}

.chat-output ul {
  @apply ml-4 flex flex-col gap-4;
}

.chat-output ul li {
  @apply gap-1 break-keep;
}

.chat-output ul li strong {
  @apply whitespace-nowrap inline;
}

.chat-output ol {
  @apply ml-4 flex flex-col gap-4;
}

.chat-output pre {
  @apply pt-6;
}
/* code {
  @apply bg-neutral-950;
}
pre code {
  @apply bg-neutral-950 inline-block border border-accent w-auto rounded-lg p-1;
} */

.features-container {
  @apply md:w-full w-full shadow-md  border  sm:w-3/4 lg:w-full mx-auto border-accent/40 border-opacity-50 rounded-lg  transition-all delay-150 duration-500;
}

.roadmap__node {
  @apply text-center px-5 text-text w-full cursor-pointer relative hover:text-background hover:bg-text duration-200 transition-colors font-semibold flex items-center justify-center border h-12 bg-background border-accent rounded-lg;
}

.conversation_roadmap__node {
  @apply text-center py-2 text-accent w-full cursor-pointer relative  duration-200 transition-colors font-semibold flex items-center justify-center  text-sm rounded-lg;
}

.roadmap__node--completed {
  @apply line-through;
}

.roadmap__node--current {
  @apply shadow-[0px_0px_15px_0px_#f5f5f5];
}
.chat-output {
  @apply tracking-normal;
}
.roadmap__arrow {
  @apply block w-0.5 select-none h-20 bg-accent;
}

.conversation-hint {
  @apply w-full text-left px-2 text-base sm:text-lg lg:text-base text-accent py-3 bg-secondary rounded-md;
}
/* CSS class to reset basic input styles */
.clear-input {
  /* Reset padding and margin */
  margin: 0;

  /* Reset border */

  /* Reset outline (removes the default blue outline when focused) */
  outline: none;

  /* Reset background color */

  /* Reset font styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  /* Reset text color */

  /* Reset box-shadow (removes any box shadows) */
}

.rotated {
  tranform: rotate(180deg);
}
