@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --text: #060709;
  --background: #e6e9ef;
  --primary: #1c408d;
  --secondary: #e9ebf1;
  --accent: #333b4c;
} */
::-webkit-scrollbar {
  width: 8px;
}
/* @media (prefers-color-scheme: dark) { */
  :root {
    --text: #e6e9ef;
    --background: #060709;
    --primary: #395eb4;
    --secondary: #1a1e28;
    --accent: #7685a2;
  }
/* } */
body{
  background: var(--background)
}
.gradient{
  background: -webkit-linear-gradient(right, #1d4ed8, #1e3a8a);
  background: linear-gradient(to right, #1d4ed8, #1e3a8a);
}