@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5px;
}
/* styles.css */
.no-blink-cursor {
  cursor: default;
}

@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .inset-shadow {
    box-shadow:
      inset 7px 7px 14px #020304,
      inset -7px -7px 14px #0a0b0e;
  }
  .spinner {
    animation: spiner 4s linear alternate infinite 1.2s;
  }
  .gradient {
    background: radial-gradient(
      circle at center,
      var(--primary) 0,
      transparent 100%
    );
  }

  .project {
    @apply w-full flex items-center relative justify-around px-2 text-xl  text-accent select-none border h-20 rounded-lg border-dashed border-accent;
  }

  .center-align {
    left: calc(50% - 200px);
  }
  .glow-effect {
    box-shadow:
      0 0 5px var(--primary),
      0 0 10px var(--primary),
      0 0 20px var(--primary);
  }
  .pt-box-shadow {
    box-shadow:
      0 0 1px var(--accent),
      0 0 3px var(--accent),
      0 0 5px var(--accent);
  }
  .pt-box-shadow:hover {
    box-shadow:
      0 0 2px var(--accent),
      0 0 5px var(--accent),
      0 0 10px var(--accent);
  }

  .features {
    display: grid;
    grid-template-areas:
      "one two two"
      "one three four"
      "six three five";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .features-container--1 {
    grid-area: one;
  }

  .features-container--2 {
    grid-area: two;
  }

  .features-container--3 {
    grid-area: three;
  }

  .features-container--4 {
    grid-area: four;
  }

  .features-container--5 {
    grid-area: five;
  }

  .features-container--6 {
    grid-area: six;
  }
}
body {
  background: var(--background);
}
.node {
  @apply text-text font-light w-fit h-fit mx-auto text-xs sm:text-sm md:text-base lg:text-lg;
}
.features-title {
  @apply text-text font-roboto opacity-80 font-medium text-lg md:text-xl lg:text-2xl 2xl:text-3xl mb-2;
}
.features-container {
  @apply p-5 shadow-lg h-full flex items-center justify-start md:min-h-md lg:min-h-lg xl:min-h-md bg-transparent border-2 border-secondary rounded-xl overflow-hidden;
}

/* CSS class to reset basic input styles */
.clear-input {
  /* Reset padding and margin */
  margin: 0;

  /* Reset border */

  /* Reset outline (removes the default blue outline when focused) */
  outline: none;

  /* Reset background color */

  /* Reset font styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  /* Reset text color */

  /* Reset box-shadow (removes any box shadows) */
}

.rotated {
  tranform: rotate(180deg);
}
